<!DOCTYPE html>
<html>
<head>
  <title>Railsifieds - <%= yield :title %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application",params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<div class='container'>
  <div id='flash_messages'><%= render 'layouts/show_flash_messages' %></div>
  <div class='row'>
    <div class="span1">Sidebar</div>
    <div class="span9">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
